doctype html
.h-resume
  .p-name Helge Skogly Holm, Curriculum Vitae
  .p-summary= summary
  .p-contact.h-card
    span.p-name= contact.name
    a.u-email(href="mailto:#{contact.email}")= contact.email
    ul.p-adr
      each line in contact.address
        li= line
  h2 Education
  ul.education
    each entry in education
      li.p-education.h-event
        h3.p-name= entry.summary
        span.dt-start= entry.start
        | &mdash;
        span.dt-end= entry.end
        .p-summary= entry.description
  h2 Experience
  ul.experience
    each entry in experience
      li.p-experience.h-event
        h3.p-name
          =entry.title
          |, 
          each name in entry.employer
            span.employer-name= name
        span.dt-start= entry.start
        | &mdash;
        span.dt-end= entry.end
        .p-summary= entry.description
        if entry.hats
          h3 Roles
          ul.roles
            each hat in entry.hats
              li= hat
  h2 Personal Projects
  ul.personal-projects
    each entry in personalProjects
      h3= entry.title
      p= entry.summary
      a.project-link(href=entry.url)= entry.url
