doctype html
meta(name="viewport" content="width=device-width, initial-scale=1")
link(href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css")
link(href='//fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css')
link(rel="stylesheet" type="text/css" href="css/style.css")
link(rel="stylesheet" type="text/css" href="css/large.css")
link(rel="stylesheet" type="text/css" href="css/print.css")
script(src="lib/jquery-1.11.3.min.js")
script(src="js/cv.js")

title
  | CV - 
  =contact.name

.h-resume
  h1.p-name
    span= contact.name
    |, Curriculum Vitae
  img.portrait.large(src="img/portrait.png")
  .section
    .p-summary= summary
  img.portrait.small(src="img/portrait_small.png")
  .section
    .p-contact.h-card
      span.p-name= contact.name
      p
        a.u-email(href="mailto:#{contact.email}")= contact.email
      ul.p-adr
        each line in contact.address
          li= line

  h1 Experience
  ul.experience.section
    each entry in experience
      li.p-experience.h-event
        h2.p-name
          =entry.title
          |, 
          each name in entry.employer
            span.employer-name= name
        .timespan
          span.dt-start= entry.start.substr(0, 4)
          | &mdash;
          if entry.end
            span.dt-end= entry.end.substr(0, 4)
        .p-summary= entry.description
        if entry.hats
          ul.roles
            each hat in entry.hats
              li.role= hat
        if entry.products
          ul.products
            each product in entry.products
              li.product
                .title
                  .caret
                    img(src="img/monoforce.svg")
                  span= product.title
                .summary= product.summary
        if entry.technologies
          span Technologies: 
            ul.technologies
              each tech in entry.technologies
                li.technology
                  span.name= tech
                  span.comma , 

  h1 Education
  ul.education.section
    each entry in education
      li.p-education.h-event
        h2.p-name= entry.summary
        .timespan
          span.dt-start= entry.start.substr(0, 4)
          | &mdash;
          span.dt-end= entry.end.substr(0, 4)
        .p-summary= entry.description

  h1 Personal Projects
  ul.projects.section
    each entry in personal.projects
      li.project
        .title= entry.title
        .summary= entry.summary
        p
          a.url(href=entry.url)= entry.url

  h1 Recreational Programming
  ul.interests.section
    each entry in personal.interests
      li.interest= entry

.bottom.section
  .button-segment
    a(href="https://github.com/deestan/cv") view source
  .button-segment
    a(href="javascript:window.print()") print page
  .button-segment
    a(href="javascript:confirm('Are you sure?')") be annoying
